packages = [
    "alacritty",
    "starship",
    "nushell",
    "ion",
    "helix",
    "himalaya",
    "jj",
    "fuzzel",
    "niri",
    "waybar",
    "zellij",
    "yazi",
    "wallpaper"
]
